   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       background-color: #000;
       color: #fff;
       font-family: sans-serif;
       overflow-x: hidden;
   }

   nav {
       display: flex;
       justify-content: space-between;
   }

   nav a {
       color: #fff;
       letter-spacing: 1px;
       text-decoration: none;
       text-transform: uppercase;
   }

   nav .left-side {
       margin-left: 110px;
       font-size: 14px;
       margin-top: 20px;
   }

   nav .right-side {
       font-size: 14px;
       display: flex;
       gap: 35px;
       margin-top: 20px;
       margin-right: 125px;
   }

   main {
       background-color: #161616;
       height: auto;
   }

   main h1 {
       margin-left: 0px;
       margin-top: 40px;
       font-size: 36px;
       padding: 90px;
       font-family: serif;
   }

   section {
       display: flex;
       border: 1px solid rgb(44, 44, 44);
       border-radius: 4px;
       width: 100%;
       background-color: #1d1d1d;
       justify-content: center;
       align-items: center;
       height: 500px;
   }


   section div {
       width: 600px;
       padding: 30px;
   }

   section div span {
       font-size: 18px;
   }

   section div h2 {
       font-size: 28px;
   }

   section div p {
       font-size: 20px;
       line-height: 1.5;
       margin-top: 20px;
   }

   aside {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       height: 230px;
   }

   aside p span {
       color: #7c7b7b;
       font-size: 17px;
       font-weight: lighter;
       line-height: 3;
   }

   footer {
       background-color: #070707f1;
       text-align: center;
       height: 200px;
       display: flex;
       flex-direction: column;
       margin-top: 110px;
       justify-content: center;
       align-items: center;
   }

   footer p {
       font-family: sans-serif;
       font-size: 15px;
   }

   footer .icon {
       gap: 23px;
       margin-top: 25px;
       display: flex;
   }

   footer .icon div {
       width: 25px;
       height: 25px;
       border: 2.5px solid #fff;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;

   }

   footer div i {
       font-size: 14px;
       font-weight: bold;
   }