* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: rgb(8, 6, 29);
}

.container {
    width: 380px;
    height: 580px;
    background-color: black;
    color: #fff;
    margin-left: 30%;
    overflow: hidden;
    /* margin-top: 40px; */
}


nav {
    display: flex;
    gap: 190px;
    margin-left: 12px;
}

.left-side ul {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.left-side ul li {
    display: flex;
}

.left-side a {
    color: #fff;
    font-size: 20px;
}

.left-side ul .menu {
    background-color: rgb(36, 35, 35);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.left-side p {
    font-size: 24px;
}

.right-side ul {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.right-side ul li {
    display: flex;
    background-color: rgb(36, 35, 35);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.right-side a {
    color: #fff;
    font-size: 18px;
}

.input-bar {
    margin-top: 30px;
    margin-left: 12px;
}

.input-bar input {
    width: 360px;
    height: 34px;
    border-radius: 22px;
    background-color: rgb(36, 35, 35);
    border: none;
    font-size: 16px;
}

.input-bar span {
    position: relative;
    left: 10px;
    top: 26px;
    color: rgb(90, 87, 87);
}

.input-bar input::placeholder {
    position: relative;
    left: 30px;
}

.online-people-list {
    display: flex;
    gap: 13px;
    margin-top: 10px;
    margin-left: 19px;

}

.people img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.people p {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: lighter;
}

.people-list-item {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-left: 19px;
}

.people-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.people-list-item div p {

    font-size: 14px;
}

.people-list-item div {
    margin-left: 1px;
    font-size: 12px;
    color: rgb(83, 84, 85);
}

.people-list-item div span {
    margin-left: 12px;
}