* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

.container {
    width: 400px;
    height: 550px;
    background-color: black;
    color: #fff;
    margin-left: 30%;
    margin-top: 40px;
}


nav {
    display: flex;
    gap: 260px;
    margin-left: 12px;
}

.left-side ul {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.left-side ul li {
    display: flex;
}

.right-side ul {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.right-side ul li {
    display: flex;
}

.input-bar {
    margin-top: 30px;
margin-left: 12px;
}

.online-people-list {
    display: flex;
    gap: 13px;
    margin-top: 10px;
    margin-left: 12px;

}

.people img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.people p {
    font-size: 13px;
}

.people-list-item {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-left: 12px;
}

.people-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}