* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

nav .left-side {
    margin-left: 110px;
    font-size: 14px;
}

nav .right-side {
    font-size: 14px;
    margin-right: 110px;
}

section {
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

section p {
    font-family: sans-serif;
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 1.4;
    margin-left: 200px;
    margin-top: 200px;
}

section div {
    position: relative;
    bottom: 50px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14vw;
    font-weight: bold;
    line-height: 0;
    height: 0.8%;
    margin-top: 7px;
}



.heading-1 {
    text-align: right;
}

.heading-2 {
    text-align: left;
    margin-top: 170px;
}

.left-side {
    margin-top: 20px;
}

.right-side {
    display: flex;
    gap: 35px;
    margin-top: 20px;
}


aside {
    margin-left: 50px;
    margin-top: 165px;
}

.left {

    margin-top: 40px;
    margin-left: -80px;
}

.left h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
}

.left .view-project {
    position: relative;
    cursor: pointer;
    color: #fff;
    top: 200px;
    margin-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
}

.left div .lock-img {
    position: absolute;
    bottom: -4px;
    right: 110px;
}

.container {
    display: flex;
    line-height: 20px;
    background-color: #161616;
    width: 1200px;
    height: 390px;
    justify-content: space-around;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 12px;
    margin: 22px;
}

.container .side-image {
    height: 390px;
}

.container .side-image img {
    position: relative;
    left: 140px;
    height: 100%;
    width: 600px;
}

.container .image-68 {
    width: 20px;
    height: 20px;
}


h2 {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 22px;
}


.container-last {
    background-color: #161616;
    width: 1210px;
    height: 220px;
    border: none;
    border-radius: 12px;
    margin: 12px;
    padding-top: 35px;
    margin-left: 22px;
}

.container-last h4 {
    margin-left: 70px;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}


.container-last p {
    margin-left: 70px;
    line-height: 3;
    letter-spacing: 1px;
    color: #a0a0a0;
}

.container-last .icon {
    display: flex;
    gap: 26px;
    margin-left: 70px;
    margin-top: 30px;
}

.container-last i {
    font-size: 17px;
    font-weight: 400;
    opacity: 1;
}

footer {
    background-color: #070707f1;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: sans-serif;
    font-size: 15px;
}

footer div {
    gap: 23px;
    margin-top: 25px;
    display: flex;
}

footer div i {
    font-size: 19px;
    font-weight: 400;
    opacity: 1;
}

@media screen and (max-width:393px) {

    body {
        overflow-x: hidden;
    }

    nav .right-side {
        display: none;
    }

    section p {
        font-size: 16px;
        width: 300px;
        margin-left: 30px;
    }

    .heading {
        margin-top: 80px;
        font-size: 20px;
    }

    .heading-2 {
        display: flex;
        position: absolute;
        top: -90px;
    }

}