* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(./download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    margin-left: 40%;

}

.circle,
.circle2 {
    width: 220px;
    height: 220px;
    color: #fff;
    border: 1px solid #f3f1f1;
    box-shadow: 1px 1px 1px 1px#cccbcb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.weather-items i {
    font-size: 1.5rem;
    color: #ffffff;

}

.degree p {
    font-size: 3.7rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.degree p sup {
    font-size: 1.7rem;
}

.city-name {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.circle2 {
    display: flex;
    width: 220px;
    height: 220px;
    color: #fff;
    border: 1px solid #f3f1f1;
    box-shadow: 1px 1px 1px 1px#cccbcb;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
position: relative;
}

.circle:hover+.circle2 {
    display: block;
position: absolute;
top: 29px;
}