* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background: #e3edf7;
}

.cricle-progress_bar {
    width: 180px;
    height: 180px;
    position: absolute;
}

.outer_line {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner_line {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        inset -6px -6px 10px -1px rgb(255, 225, 225, 0.7),
        -0.5px -0.5px 0px rgb(255, 225, 225, 0.5),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

#number {
    font-weight: 600;
    color: #000;
    font-size: 18px;
}

circle {
    stroke-width: 20px;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    fill: none;
    stroke: url(#GradientColor);
    animation: anim linear forwards 2s;
    offset: 100%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 200;
    }
}
.container-2{
position: relative;
top: 300px;
}