 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: #000;
     font-family: sans-serif;
     text-align: center;
     background-image: linear-gradient(blue, pink);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }

 .container {
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-top: 10px;
     width: 30%;
     height: 600px;
     text-align: center;
     font-family: sans-serif;
     background: rgba(255, 255, 255, .6);
     border-radius: 12px;
     border: none;
     position: relative;
 }

 .container::before {
     content: '';
     position: absolute;
     background: rgba(255, 255, 255, .3);
     inset: 0;
     transform: rotate(-5deg);
     z-index: -1;
     border-radius: 12px;
 }

 .container p {
     font-size: 16px;
 }

 .card-logo {
     margin-top: 50px;
 }

 .card-logo i {
     font-size: 62px;
 }

 .form-header {
     margin-top: 39px;
     font-size: 23px;
     font-weight: bold;
 }

 fieldset {
     border: none;
 }

 .form-item-1 input {
     width: 280px;
     height: 35px;
     margin-left: 5px;
     border-radius: 22px;
     border: none;
     background-color: aliceblue;
     text-align: center;
 }

 .form-item-1 span {
     position: relative;
     top: 5px;
     left: 50px;
     font-size: 1.3rem;
     opacity: 0.9;
 }


 .form-item-2 input {
     margin-top: 30px;
     width: 280px;
     height: 35px;
     margin-left: 5px;
     border-radius: 22px;
     border: none;
     background-color: aliceblue;
     text-align: center;
 }

 /* .form-item-2 input[placeholder="Enter email"] {


 } */


 .form-item-2 span {
     position: relative;
     top: 5px;
     left: 50px;
     font-size: 1.3rem;
     opacity: 0.9;
 }

 .form-item-other {
     display: flex;
     font-size: 15px;
     gap: 43px;
     margin-top: 18px;
     margin-left: 30px;
 }

 .form-item-other a {
     text-decoration: none;
     margin-top: 4px;
     color: red;
 }

 .checkbox {
     display: flex;
 }

 .checkbox input {
     width: 18px;
     height: 18px;
     margin-bottom: 16px;
 }

 .checkbox label {
     margin-top: 4px;
 }

 .click-button {
     margin-top: 25px;
 }

 .click-button input {
     width: 120px;
     height: 35px;
     border-radius: 22px;
     border: 1px solid black;
     background-color: black;
     color: #fff;
     font-size: 15.5px;
 }

 .click-button input:hover {
     background-color: white;
     color: #000;
 }

 .login-card-footer {
     margin-top: 30px;
     font-size: 15px
 }

 .login-card-footer a {
     text-decoration: none;
     color: green;

 }

 @media screen  and (max-width:667px) {
     .container {
         width: 90%;
     }
 }